.recordListFlyOut {
  background-color: #ffffff;
  border: 2px solid #7F9DB9;
  float: left;
  width: 300px;
  height: auto;
  min-height: 322px;
  overflow: none;
  border-radius: 0px;
  font-family: Verdana, "Open Sans", sans-serif;
  font-size: 12px;
}
.recordListPanel {
  width: 100%;
  height: auto;
}
.listItem:hover {
  background-color: #e0e0f0;
}
.findRecordTxtBox {
  height: 27px;
  width: inherit;
  border: none;
}
.optGroup {
  color: #004699;
  font-weight: 600;
}
.recordList {
  height: 320px;
  min-height: 320px;
  padding: 5px 5px;
  border-top: 1px solid #7F9DB9;
  overflow-x: hidden;
  overflow-y: auto;
}
.recordList-small {
  height: 254px;
  min-height: 254px;
  padding: 5px 5px 0 5px;
  border-top: 1px solid #7F9DB9;
  overflow-x: hidden;
  overflow-y: auto;
}
.findRecordTxtBox {
  font-style: normal;
  font-family: FontAwesome, Verdana, "Open Sans", sans-serif;
  font-weight: normal;
  color: #000000;
  padding: 3px 0px 2px 4px;
  width: 90%;
  border: 0px solid #7F9DB9;
  border-bottom: 0px solid;
  position: relative;
  border-top: 0px solid #7F9DB9;
  border-left: 0px solid #7F9DB9;
  border-right: 0px solid #7F9DB9;
  top: 0;
  outline: none;
}
/*  // IE9 CSS */
.ie9 .findRecordTxtBox {
  font-family: Verdana, "Open Sans", sans-serif;
  color: #000000;
}
.ie9 .findRecordTxtBox.empty {
  color: #ccc !important;
  font-style: normal !important;
  font-family: FontAwesome, Verdana, "Open Sans", sans-serif;
}
.ie9 .listItem {
  color: #000000;
}
.findRecordTxtBox::-ms-clear {
  width: 0;
  height: 0;
}
/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  color: #ccc;
  font-style: normal !important;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: #ccc;
  font-style: normal !important;
}
/* IE 10+ */
:-ms-input-placeholder {
  color: #ccc;
  font-style: normal !important;
}
/*  Firefox 18- */
:-moz-placeholder {
  color: #ccc;
  font-style: normal !important;
}
.findTxtBox-CloseImg {
  border: 1px solid transparent;
  background-color: transparent;
  vertical-align: middle;
  cursor: pointer;
  font-size: .6em;
  font-weight: normal;
  color: #000;
  line-height: 27px;
  width: 18px;
  height: 10px;
  z-index: 999;
  float: right;
  outline: none;
}
.findTxtBox-CloseImg:active {
  outline: none;
}
.findTxtBox-Title {
  padding: 4px;
  background-color: #ff9100;
}
.findTxtBox-Title span {
  font-size: 14px;
  font-family: Verdana, "Open Sans", sans-serif;
  font-weight: 600;
  color: #fff;
  vertical-align: super;
}
.findTxtBox-Title2 {
  padding: 4px;
  bbackground-color: #ff9100;
  border-bottom: 1px solid #7F9DB9;
}
.findTxtBox-Title2 span {
  font-size: 14px;
  font-family: Verdana, "Open Sans", sans-serif;
  font-weight: 600;
  color: #004699;
  vertical-align: super;
}
.selectRecordCheckBox {
  padding: 5px 10px;
  line-height: 10px;
}
